@page "/icondemo"


<PageTitle>Icons Demo</PageTitle>

<h1>Icons Demo</h1>

<br />
<span class="oi oi-plus" aria-hidden="true">oi-plus</span>
<span class="oi oi-account-login" aria-hidden="true">oi-account-login</span>
<span class="oi oi-account-logout" aria-hidden="true">oi-account-logout</span>

<span class="oi oi-action-redo" aria-hidden="true">oi-action-redo</span>
<span class="oi oi-action-undo" aria-hidden="true">oi-action-undo</span>
<span class="oi oi-align-center" aria-hidden="true">oi-align-center</span>
<span class="oi oi-align-left" aria-hidden="true">oi-align-left</span>
<span class="oi oi-align-right" aria-hidden="true"> oi-align-right</span>
<span class="oi oi-arrow-bottom" aria-hidden="true">oi-arrow-bottom</span>
<span class="oi oi-arrow-circle-bottom" aria-hidden="true">oi-arrow-circle-bottom</span>
<span class="oi oi-arrow-circle-left" aria-hidden="true">oi-arrow-circle-left</span>


<span class="oi oi-aperture" aria-hidden="true">oi-aperture</span>
<span class="oi oi-arrow-circle-right" aria-hidden="true">oi-arrow-circle-right</span>
<span class="oi oi-arrow-circle-top" aria-hidden="true">oi-arrow-circle-top</span>
<span class="oi oi-arrow-thick-bottom" aria-hidden="true">oi-arrow-thick-bottom</span>
<span class="oi oi-arrow-thick-left" aria-hidden="true">oi-arrow-thick-left</span>
<span class="oi oi-arrow-thick-right" aria-hidden="true">oi-arrow-thick-right</span>
<span class="oi oi-arrow-thick-top" aria-hidden="true">oi-arrow-thick-top</span>
<span class="oi oi-arrow-top" aria-hidden="true">oi-arrow-top</span>
<span class="oi oi-audio-spectrum" aria-hidden="true">oi-audio-spectrum</span>
<span class="oi oi-bar-chart" aria-hidden="true">oi-bar-chart</span>
<span class="oi oi-basket" aria-hidden="true">oi-basket</span>
<span class="oi oi-battery-empty" aria-hidden="true">-battery-empty</span>
<span class="oi oi-battery-full" aria-hidden="true">oi-battery-full</span>
<span class="oi oi-beaker" aria-hidden="true">oi-beaker</span>

<span class="oi oi-bell" aria-hidden="true">oi-bell</span>
<span class="oi oi-bluetooth" aria-hidden="true">oi-bluetooth</span>
<span class="oi oi-bold" aria-hidden="true">oi-bold</span>
<span class="oi oi-bolt" aria-hidden="true">oi-bolt</span>
<span class="oi oi-book" aria-hidden="true">oi-book</span>
<span class="oi oi-bookmark" aria-hidden="true">oi-bookmark</span>
<span class="oi oi-box" aria-hidden="true">oi-box</span>
<span class="oi oi-briefcase" aria-hidden="true">oi-briefcase</span>
<span class="oi oi-british-pound" aria-hidden="true">oi-british-pound</span>

<span class="oi oi-browser" aria-hidden="true">oi-browser</span>
<span class="oi oi-brush" aria-hidden="true">oi-brush</span>
<span class="oi oi-bug" aria-hidden="true">oi-bug</span>
<span class="oi oi-bullhorn" aria-hidden="true">oi-bullhorn</span>
<span class="oi oi-calculator" aria-hidden="true">oi-calculator</span>
<span class="oi oi-calendar" aria-hidden="true">oi-calendar</span>
<span class="oi oi-camera-slr" aria-hidden="true">oi-camera-slr</span>
<span class="oi oi-caret-bottom" aria-hidden="true">oi-caret-bottom</span>
<span class="oi oi-caret-left" aria-hidden="true">oi-caret-left</span>

<span class="oi oi-caret-right" aria-hidden="true">oi-caret-right</span>
<span class="oi oi-caret-top" aria-hidden="true">oi-caret-top</span>
<span class="oi oi-cart" aria-hidden="true">oi-cart</span>
<span class="oi oi-chat" aria-hidden="true">oi-chat</span>
<span class="oi oi-check" aria-hidden="true">oi-check</span>
<span class="oi oi-chevron-bottom" aria-hidden="true">oi-chevron-bottom</span>
<span class="oi oi-chevron-left" aria-hidden="true">oi-chevron-left</span>
<span class="oi oi-chevron-right" aria-hidden="true">oi-chevron-right</span>
<span class="oi oi-chevron-top" aria-hidden="true">oi-chevron-top</span>
<span class="oi oi-circle-check" aria-hidden="true">oi-circle-check</span>
<span class="oi oi-circle-x" aria-hidden="true">oi-circle-x</span>
<span class="oi oi-clipboard" aria-hidden="true">oi-clipboard</span>
<span class="oi oi-clock" aria-hidden="true">oi-clock</span>
<span class="oi oi-cloud-download" aria-hidden="true">oi-cloud-download</span>
<span class="oi oi-cloud-upload" aria-hidden="true">oi-cloud-upload</span>
<span class="oi oi-cloud" aria-hidden="true">oi-cloud</span>
<span class="oi oi-cloudy" aria-hidden="true">oi-cloudy</span>

<span class="oi oi-code" aria-hidden="true">oi-code</span>
<span class="oi oi-cog" aria-hidden="true">oi-cog</span>
<span class="oi oi-collapse-down" aria-hidden="true">oi-collapse-down</span>
<span class="oi oi-collapse-left" aria-hidden="true">oi-collapse-left</span>
<span class="oi oi-collapse-right" aria-hidden="true">oi-collapse-right</span>
<span class="oi oi-collapse-up" aria-hidden="true">oi-collapse-up</span>
<span class="oi oi-command" aria-hidden="true">oi-command</span>
<span class="oi oi-comment-square" aria-hidden="true">oi-comment-square</span>
<span class="oi oi-compass" aria-hidden="true">oi-compass</span>
<span class="oi oi-contrast" aria-hidden="true">oi-contrast</span>
<span class="oi oi-copywriting" aria-hidden="true">oi-copywriting</span>
<span class="oi oi-credit-card" aria-hidden="true">oi-credit-card</span>
<span class="oi oi-crop" aria-hidden="true">oi-crop</span>

<span class="oi oi-dashboard" aria-hidden="true">oi-dashboard</span>
<span class="oi oi-data-transfer-download" aria-hidden="true">oi-data-transfer-download</span>
<span class="oi oi-data-transfer-upload" aria-hidden="true">oi-data-transfer-upload</span>
<span class="oi oi-delete" aria-hidden="true">oi-delete</span>
<span class="oi oi-dial" aria-hidden="true">oi-dial</span>
<span class="oi oi-document" aria-hidden="true">oi-document</span>
<span class="oi oi-dollar" aria-hidden="true">oi-dollar</span>
<span class="oi oi-double-quote-sans-left" aria-hidden="true">oi-double-quote-sans-left</span>
<span class="oi oi-double-quote-sans-right" aria-hidden="true">oi-double-quote-sans-right</span>
<span class="oi oi-double-quote-serif-left" aria-hidden="true">oi-double-quote-serif-left</span>
<span class="oi oi-double-quote-serif-right" aria-hidden="true">oi-double-quote-serif-right</span>
<span class="oi oi-droplet" aria-hidden="true">oi-droplet</span>
<span class="oi oi-eject" aria-hidden="true">oi-eject</span>
<span class="oi oi-elevator" aria-hidden="true">oi-elevator</span>
<span class="oi oi-ellipses" aria-hidden="true">oi-ellipses</span>
<span class="oi oi-envelope-closed" aria-hidden="true">oi-envelope-closed</span>
<span class="oi oi-envelope-open" aria-hidden="true">oi-envelope-open</span>
<span class="oi oi-euro" aria-hidden="true">oi-euro</span>
<span class="oi oi-excerpt" aria-hidden="true">oi-excerpt</span>
<span class="oi oi-expand-down" aria-hidden="true">oi-expand-down</span>
<span class="oi oi-expand-left" aria-hidden="true">oi-expand-left</span>
<span class="oi oi-expand-right" aria-hidden="true">oi-expand-right</span>
<span class="oi oi-expand-up" aria-hidden="true">oi-expand-up</span>
<span class="oi oi-external-link" aria-hidden="true">oi-external-link</span>
<span class="oi oi-eye" aria-hidden="true">oi-eye</span>
<span class="oi oi-eyedropper" aria-hidden="true">oi-eyedropper</span>
<span class="oi oi-file" aria-hidden="true">oi-file</span>


<span class="oi oi-fire" aria-hidden="true">oi-fire</span>
<span class="oi oi-flag" aria-hidden="true">oi-flag</span>
<span class="oi oi-flash" aria-hidden="true">oi-flash</span>
<span class="oi oi-folder" aria-hidden="true">oi-folder</span>
<span class="oi oi-fork" aria-hidden="true">oi-fork</span>
<span class="oi oi-fullscreen-enter" aria-hidden="true">oi-fullscreen-enter</span>
<span class="oi oi-fullscreen-exit" aria-hidden="true">oi-fullscreen-exit</span>
<span class="oi oi-globe" aria-hidden="true">oi-globe</span>
<span class="oi oi-graph" aria-hidden="true">oi-graph</span>
<span class="oi oi-grid-four-up" aria-hidden="true">oi-grid-four-up</span>
<span class="oi oi-grid-three-up" aria-hidden="true">oi-grid-three-up</span>
<span class="oi oi-grid-two-up" aria-hidden="true">oi-grid-two-up</span>
<span class="oi oi-hard-drive" aria-hidden="true">oi-hard-drive</span>
<span class="oi oi-header" aria-hidden="true">oi-header</span>
<span class="oi oi-headphones" aria-hidden="true">oi-headphones</span>
<span class="oi oi-heart" aria-hidden="true">oi-heart</span>
<span class="oi oi-home" aria-hidden="true">oi-home</span>
<span class="oi oi-image" aria-hidden="true">oi-image</span>
<span class="oi oi-inbox" aria-hidden="true">oi-inbox</span>
<span class="oi oi-infinity" aria-hidden="true">oi-infinity</span>
<span class="oi oi-info" aria-hidden="true">oi-info</span>
<span class="oi oi-italic" aria-hidden="true">oi-italic</span>
<span class="oi oi-justify-center" aria-hidden="true">oi-justify-center</span>
<span class="oi oi-justify-left" aria-hidden="true">oi-justify-left</span>


<span class="oi oi-justify-right" aria-hidden="true">oi-justify-right</span>
<span class="oi oi-key" aria-hidden="true">oi-key</span>
<span class="oi oi-laptop" aria-hidden="true">oi-laptop</span>
<span class="oi oi-layers" aria-hidden="true">oi-layers</span>
<span class="oi oi-lightbulb" aria-hidden="true">oi-lightbulb</span>
<span class="oi oi-link-broken" aria-hidden="true">oi-link-broken</span>
<span class="oi oi-link-intact" aria-hidden="true">oi-link-intact</span>
<span class="oi oi-list-rich" aria-hidden="true">oi-list-rich</span>
<span class="oi oi-list" aria-hidden="true">oi-list</span>
<span class="oi oi-location" aria-hidden="true">oi-location</span>
<span class="oi oi-lock-locked" aria-hidden="true">oi-lock-locked</span>
<span class="oi oi-lock-unlocked" aria-hidden="true">oi-lock-unlocked</span>
<span class="oi oi-loop-circular" aria-hidden="true">oi-loop-circular</span>
<span class="oi oi-loop-square" aria-hidden="true">oi-loop-square</span>
<span class="oi oi-loop" aria-hidden="true">oi-loop</span>
<span class="oi oi-magnifying-glass" aria-hidden="true">oi-magnifying-glass</span>
<span class="oi oi-map-marker" aria-hidden="true">oi-map-marker</span>
<span class="oi oi-map" aria-hidden="true">oi-map</span>
<span class="oi oi-media-pause" aria-hidden="true">oi-media-pause</span>
<span class="oi oi-media-play" aria-hidden="true">oi-media-play</span>
<span class="oi oi-media-record" aria-hidden="true">oi-media-record</span>
<span class="oi oi-media-skip-backward" aria-hidden="true">oi-media-skip-backward</span>
<span class="oi oi-media-skip-forward" aria-hidden="true">oi-media-skip-forward</span>
<span class="oi oi-media-step-backward" aria-hidden="true">oi-media-step-backward</span>
<span class="oi oi-media-step-forward" aria-hidden="true">oi-media-step-forward</span>
<span class="oi oi-media-stop" aria-hidden="true">oi-media-stop</span>
<span class="oi oi-medical-cross" aria-hidden="true">oi-medical-cross</span>
<span class="oi oi-menu" aria-hidden="true">oi-menu</span>
<span class="oi oi-microphone" aria-hidden="true">oi-microphone</span>
<span class="oi oi-minus" aria-hidden="true">oi-minus</span>
<span class="oi oi-monitor" aria-hidden="true">oi-monitor</span>
<span class="oi oi-moon" aria-hidden="true">oi-moon</span>
<span class="oi oi-move" aria-hidden="true">oi-move</span>
<span class="oi oi-musical-note" aria-hidden="true">oi-musical-note</span>
<span class="oi oi-paperclip" aria-hidden="true">oi-paperclip</span>
<span class="oi oi-pencil" aria-hidden="true">oi-pencil</span>
<span class="oi oi-people" aria-hidden="true">oi-people</span>

<span class="oi oi-person" aria-hidden="true">oi-person</span>
<span class="oi oi-phone" aria-hidden="true">oi-phone</span>
<span class="oi oi-pie-chart" aria-hidden="true">oi-pie-chart</span>
<span class="oi oi-pin" aria-hidden="true">oi-pin</span>
<span class="oi oi-play-circle" aria-hidden="true">oi-play-circle</span>
<span class="oi oi-plus" aria-hidden="true">oi-plus</span>
<span class="oi oi-power-standby" aria-hidden="true">oi-power-standby</span>
<span class="oi oi-print" aria-hidden="true">oi-print</span>
<span class="oi oi-project" aria-hidden="true">oi-project</span>
<span class="oi oi-pulse" aria-hidden="true">oi-pulse</span>
<span class="oi oi-puzzle-piece" aria-hidden="true">oi-puzzle-piece</span>
<span class="oi oi-question-mark" aria-hidden="true">oi-question-mark</span>
<span class="oi oi-rain" aria-hidden="true">oi-rain</span>
<span class="oi oi-random" aria-hidden="true">oi-random</span>
<span class="oi oi-reload" aria-hidden="true">oi-reload</span>
<span class="oi oi-resize-both" aria-hidden="true">oi-resize-both</span>
<span class="oi oi-resize-height" aria-hidden="true">oi-resize-height</span>
<span class="oi oi-resize-width" aria-hidden="true">oi-resize-width</span>
<span class="oi oi-rss-alt" aria-hidden="true">oi-rss-alt</span>
<span class="oi oi-rss" aria-hidden="true">oi-rss</span>
<span class="oi oi-script" aria-hidden="true">oi-script</span>
<span class="oi oi-share-boxed" aria-hidden="true">oi-share-boxed</span>
<span class="oi oi-share" aria-hidden="true">oi-share</span>
<span class="oi oi-shield" aria-hidden="true">oi-shield</span>
<span class="oi oi-signal" aria-hidden="true">oi-signal</span>
<span class="oi oi-signpost" aria-hidden="true">oi-signpost</span>
<span class="oi oi-sort-ascending" aria-hidden="true">oi-sort-ascending</span>
<span class="oi oi-sort-descending" aria-hidden="true">oi-sort-descending</span>
<span class="oi oi-spreadsheet" aria-hidden="true">oi-spreadsheet</span>
<span class="oi oi-star" aria-hidden="true">oi-star</span>
<span class="oi oi-sun" aria-hidden="true">oi-sun</span>
<span class="oi oi-tablet" aria-hidden="true">oi-tablet</span>
<span class="oi oi-tag" aria-hidden="true">oi-tag</span>
<span class="oi oi-tags" aria-hidden="true">oi-tags</span>

<span class="oi oi-target" aria-hidden="true">oi-target</span>
<span class="oi oi-task" aria-hidden="true">oi-task</span>
<span class="oi oi-terminal" aria-hidden="true">oi-terminal</span>
<span class="oi oi-text" aria-hidden="true">oi-text</span>
<span class="oi oi-thumb-down" aria-hidden="true">oi-thumb-down</span>
<span class="oi oi-thumb-up" aria-hidden="true">oi-thumb-up</span>
<span class="oi oi-timer" aria-hidden="true">oi-timer</span>
<span class="oi oi-transfer" aria-hidden="true">oi-transfer</span>
<span class="oi oi-trash" aria-hidden="true">oi-trash</span>
<span class="oi oi-underline" aria-hidden="true">oi-underline</span>
<span class="oi oi-vertical-align-bottom" aria-hidden="true">oi-vertical-align-bottom</span>
<span class="oi oi-vertical-align-center" aria-hidden="true">oi-vertical-align-center</span>
<span class="oi oi-vertical-align-top" aria-hidden="true">oi-vertical-align-top</span>
<span class="oi oi-video" aria-hidden="true">oi-video</span>
<span class="oi oi-volume-high" aria-hidden="true">oi-volume-high</span>
<span class="oi oi-volume-low" aria-hidden="true">oi-volume-low</span>
<span class="oi oi-volume-off" aria-hidden="true">oi-volume-off</span>
<span class="oi oi-warning" aria-hidden="true">oi-warning</span>
<span class="oi oi-wifi" aria-hidden="true">oi-wifi</span>
<span class="oi oi-wrench" aria-hidden="true">oi-wrench</span>
<span class="oi oi-x" aria-hidden="true">oi-x</span>
<span class="oi oi-yen" aria-hidden="true">oi-yen</span>
<span class="oi oi-zoom-in" aria-hidden="true">oi-zoom-in</span>
<span class="oi oi-zoom-out" aria-hidden="true">oi-zoom-out</span>


@code {



}
