

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppLogin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
             dsafasfdsaf
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => TogleSubmenu(NavSubmenu.First)">
                <span class="oi oi-monitor" aria-hidden="true"></span> Submenu 1
            </NavLink>
        </div>

        @if (navSubmenu == NavSubmenu.First)
        {
             <div class="nav-item px-4">
                <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-4">
                <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Data
                </NavLink>
            </div>
   
        }

 

        <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="showmodaldemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Show Modal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="showlistdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Show List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="showuploadfiledemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Upload File
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="timerdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Timer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="urlparameterdemo/abc/xyz">
                <span class="oi oi-plus" aria-hidden="true"></span> Url Parameter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="filedownloaddemo">
                <span class="oi oi-plus" aria-hidden="true"></span> File Download
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="appstatedemo">
                <span class="oi oi-plus" aria-hidden="true"></span> App State
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="accessdatabasedemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Access Database
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="textautocompletedemo">
                <span class="oi oi-plus" aria-hidden="true"></span> DropDown Input
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="tabdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Tabs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="renderfragmentdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Render Fragment
            </NavLink>
        </div>

        

    </nav>


</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private enum NavSubmenu
    {
        None,
        First,
        Second
    }
    private NavSubmenu navSubmenu = NavSubmenu.None;
    private void TogleSubmenu(NavSubmenu submenu)
    {
        if (navSubmenu == submenu)
            navSubmenu = NavSubmenu.None;
        else
            navSubmenu = submenu;
    }
}
